/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

footer {
    background-color: white;
  }
  body {
      background-color: #2adee4;
      color: #020f0d;
      text-align: center;
  }